/* CalendarCustom.css */
.react-calendar {
    width: 100% !important;
    background: white;
    border: none !important;
    font-family: inherit;
}

/* ปรับแต่งปุ่มวันที่ */
.react-calendar__tile {
    padding: 1.5em 0.5em !important;
    border-radius: 18px;
    font-weight: 800 !important;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.react-calendar__tile:hover {
    background-color: #fff7ed !important;
    transform: scale(1.05);
}

/* สีพื้นหลังตามสถานะ */
.date-available {
    color: #16a34a !important;
}

.date-partial {
    background-color: #fff7ed !important;
    color: #ea580c !important;
}

.date-full {
    background-color: #fef2f2 !important;
    color: #ef4444 !important;
}

/* วันที่เลือก */
.react-calendar__tile--active {
    background: #f97316 !important;
    color: white !important;
    box-shadow: 0 10px 15px -3px rgba(249, 115, 22, 0.3);
}

/* วันในอดีต */
.past-date {
    color: #d1d5db !important;
    cursor: not-allowed !important;
    text-decoration: line-through;
}

.react-calendar__month-view__weekdays__weekday {
    font-weight: 900;
    color: #9ca3af;
    text-decoration: none;
    padding-bottom: 10px;
}

abbr[title] {
    text-decoration: none;
}