@import "tailwindcss";

@theme {
  /* ตั้งค่าให้ฟอนต์ Sans พื้นฐานเป็น Kanit */
  --font-sans: "Kanit", ui-sans-serif, system-ui, sans-serif;
  
  /* เพิ่มฟอนต์ Serif เป็น Sarabun */
  --font-serif: "Sarabun", ui-serif, Georgia, serif;
}